.InputWrapper {
  display: flex;
}

.input {
  width: 300px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px;

  &:focus {
    border: none;
    outline: none;
  }
}

.placeholder {
  padding-right: 5px;
}
