.app_red_theme {
  --bg-color: #b63939;
  --inverted-bg-color: #fbf4f4;
  --primary-color: #b63939;
  --secondary-color: #973830;
  --inverted-primary-color: #973830;
  --inverted-secondary-color: #b63939;
}
